[Unit]
Description=Beanstalkd queue
After=syslog.target network.target

[Service]
User=beanstalk

SyslogIdentifier=beanstalkd
Restart=always
RestartSec=1

TimeoutStartSec=0

ExecStart=/usr/bin/beanstalkd -b {{ beanstalkd_wal_dir }} -f 2000

[Install]
WantedBy=multi-user.target



